:root {
  --dark-red: rgb(96, 0, 0);
  --dark-green: rgb(0, 55, 22)
}
.pre-bloom{
    visibility: hidden;
    height: 50px;
    overflow-y: none;
}
.bloom{
    animation: bloom 1s forwards;
    padding: 20px 0px 0px 0px;
}
@keyframes bloom {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    90% {
        transform: scale(1.03);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
img{
    width: 700px;
    max-width: 90%;
    height: auto;
    display: block;
    margin: auto;
}
.top-section{
    padding: 20px 0px;
}
.left-border-section{
    width: 720px;
    max-width: 95%;
    border-top: solid var(--dark-red) 5px;
    border-left: solid var(--dark-red) 5px;
    padding: 10px;
    margin: auto;
}
.left-border-section img{
    border: solid var(--dark-green) 5px;
}
body{
    font-family: sans-serif;
}
h1, h2, h3, h4, p, span{
    margin: 10px auto;
}
p, span{
    font-size: 20px;
}
a{
    color: var(--dark-green);
    font-size: 20px;
    text-decoration: underline;
}
.h1-smaller{
    font-size: 35px;
    color: var(--dark-red);
}
.h1-larger{
    font-size: 50px;
    color: var(--dark-green);
}
h2{
    font-size: 40px;
    color: var(--dark-red);
}
h3{
    font-size: 30px;
    color: var(--dark-green);
}

footer{
    margin-top: 360px;
}