:root {
  --dark-red: rgb(96, 0, 0);
  --dark-green: rgb(0, 55, 22)
}
body{
    background: rgb(237, 235, 231);
    max-width: 100vw;
    overflow-x: hidden;
}
img{
    width: 700px;
    max-width: 90%;
    display: block;
    margin: 20px auto;
}
iframe{
    max-height: 400px;
    max-width: 90%;
    display: block;
    margin: 20px auto !important;
}
@media screen and (max-width: 600px){
    iframe{
        max-width: 90% !important;
        min-height: 300px !important;
    }
}
@media screen and (max-width: 400px){
    iframe{
        max-width: 80% !important;
        min-width: 280px !important;
    }
}
.top-section{
    width: 720px;
    max-width: 95%;
    padding: 20px 0px;
    margin: auto;
}
.left-border-section{
    width: 720px;
    max-width: 95%;
    border-top: solid var(--dark-red) 5px;
    border-left: solid var(--dark-red) 5px;
    padding: 10px;
    margin: auto;
}
.left-border-section img, .left-border-section iframe{
    border: solid var(--dark-green) 5px !important;
}
.right-border-section{
    width: 720px;
    max-width: 95%;
    border-top: solid var(--dark-green) 5px;
    border-right: solid var(--dark-green) 5px;
    padding: 10px;
    margin: auto;
}
.right-border-section img, .right-border-section iframe{
    border: solid var(--dark-red) 5px !important;
}
body{
    font-family: sans-serif;
}
h1, h2, h3, h4{
    margin: 30px auto 0px auto;
}
p, span{
    margin: 20px auto 0px auto;
}
p, span, h4{
    font-size: 20px;
}
a{
    color: var(--dark-green);
    font-size: 20px;
    text-decoration: underline;
}
.h1-smaller{
    font-size: 35px;
    color: var(--dark-red);
}
.h1-larger{
    font-size: 50px;
    color: var(--dark-green);
}
@media screen and (max-width: 360px){
    .h1-larger{
        font-size: 44px;
    }
}
h2{
    font-size: 40px;
    color: var(--dark-red);
}
h3{
    font-size: 30px;
    color: var(--dark-green);
}

footer{
    width: 720px;
    max-width: 95%;
    margin: auto;
    border-top: solid black 5px;
    padding: 20px;
    text-align: center;
}